In [8]:
import pandas as pd

In [9]:
# primer archivo de la colección
datapath = '[ruda del primer archivo]'

In [10]:
data = pd.read_csv(datapath)

In [11]:
# Comprobación de la estructura del primer dataset
data.head()

         Date  sulfate  nitrate  ID
0  2003-01-01      NaN      NaN   1
1  2003-01-02      NaN      NaN   1
2  2003-01-03      NaN      NaN   1
3  2003-01-04      NaN      NaN   1
4  2003-01-05      NaN      NaN   1

In [1]:
# Comprobación de la forma del primer dataset
data.shape

NameError: name 'data' is not defined

In [33]:
## Generación del dataset a partir de un directorio con .csv con nombres de archivo consecutivos
datafolder = '[path del folder con los datasets]'
filename = '[nombreprimerarchivo].csv'

data = pd.read_csv(datafolder + filename)

final_lenght = len(data)

## Recorrido y concatenado de todos los .csv
for i in range(2, númerototaldearchivoscsv):
    
    if i < 10:
        filename = '00' + str(i)
    if 10 <= i < 100:
        filename = '0' + str(i)
    if i > 100:
        filename = str(i)
    
    data_temp = pd.read_csv(datafolder + filename + '.csv')
    final_lenght = final_lenght + len(data_temp)    
    data = pd.concat([data, data_temp], axis=0)

if final_lenght == len(data):
    print('La suma de las longitudes parciales de los datasets es:', final_lenght)
    print('La longitud del dataset es:', len(data))
    print('No se ha perdido ninguna muestra')
else:
    print('La suma de las longitudes parciales de los datasets es:', final_lenght)
    print('La longitud del dataset es:', len(data))
    print('Ha habido algún problema y se han perdido muestras')

La suma de las longitudes parciales de los datasets es: 774643
La longitud del dataset es: 774643
No se ha perdido ninguna muestra

In [34]:
# Comprobación de la forma del dataset completo
data.shape

(774643, 4)

In [35]:
# Comprobación de la cabecera del dataset completo
data.head()

         Date  sulfate  nitrate  ID
0  2003-01-01      NaN      NaN   1
1  2003-01-02      NaN      NaN   1
2  2003-01-03      NaN      NaN   1
3  2003-01-04      NaN      NaN   1
4  2003-01-05      NaN      NaN   1

In [36]:
# Comprobación de la cola del dataset completo
data.tail()

           Date  sulfate  nitrate   ID
726  2004-12-27      NaN      NaN  332
727  2004-12-28      NaN      NaN  332
728  2004-12-29      NaN      NaN  332
729  2004-12-30      NaN      NaN  332
730  2004-12-31      NaN      NaN  332